.footer {
    background-color: #f8f9fa;
    color: #343a40;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en dispositivos más pequeños */
}

.footer-section {
    flex: 1;
    margin: 20px;
    min-width: 250px; /* Asegura que cada sección tenga un ancho mínimo */
}

.footer-section h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.footer-section p {
    line-height: 1.5;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #343a40;
    font-size: 1.5em;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

/* Media Queries para mayor responsividad */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
        align-items: center; /* Centra los elementos */
    }

    .footer-section {
        margin: 10px 0; /* Reduce el margen en pantallas pequeñas */
    }
}
