.footer {
    background-color: #5d4037; 
    color: #ecf0f1; 
    padding: 40px 20px;
    font-family: Arial, sans-serif; 
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 20px;
    min-width: 250px;
}

.footer-section h3,
.footer-section h2 {
    text-align: center;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

.social-icons a {
    color: #ecf0f1; 
    font-size: 1.5em;
    transition: color 0.3s; 
}

.social-icons a:hover {
    color: #3498db; 
}

.footer-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px; 
    width: 80%; 
}

.footer-section button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    background-color: #3498db; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.footer-section button:hover {
    background-color: #2980b9; 
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    font-size: 0.9em; 
}

/* Media Queries para mayor responsividad */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
        align-items: center; /* Centra los elementos */
    }

    .footer-section {
        margin: 10px 0; /* Reduce el margen en pantallas pequeñas */
    }
}
