:root {
  --text-color: #343a40; /* Café */
  --hover-color: #6fa3d5; /* Celeste */
  --cart-color: #6fa3d5; /* Color del carrito */
  font-family: 'Courier New', Courier, monospace; /* Asegúrate de incluir la fuente */
}

.Header {
  background-color: #343a40; /* Utiliza el nuevo gris oscuro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.nav-links .nav-item {
  color: #343a40;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s; /* Transición suave para hover */
}

.nav-links .nav-item:hover {
  color: var(--hover-color); /* Cambia a celeste al pasar el ratón */
}

.carrito {
  text-decoration: none;
  color: var(--cart-color); /* Color del icono del carrito */
  position: relative; /* Asegura que el badge esté posicionado correctamente */
}

.carrito:hover {
  color: darkgreen; /* Color al pasar el ratón */
}

.badge {
  font-size: 12px; /* Tamaño del badge */
  padding: 0.25em 0.5em; /* Espaciado interno */
}

/* Responsividad */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: center; /* Centra los enlaces */
  }
}
