.modal-overlay {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s; /* Animación de aparición */
}

.modal-content {
    background: #f9f9f9; 
    padding: 20px;
    border-radius: 12px; 
    width: 350px;
    max-height: 1000px; 
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    text-align: center; 
    overflow-y: auto;
}

.mensaje {
    font-size: 2em; 
    margin-bottom: 20px; 
    color: #fff; 
    font-weight: bold;
}

.close-button {
    background: black; 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px; 
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s; 
}

.close-button:hover {
    background: black; 
    transform: scale(1.05); 
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
