.titulo{
    margin-left: 120px;
    color:#4E342E;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 80px;
}
.descripcion{
    max-width: 800px;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1.6;
    font-family: "poppins,sans-serif";
    margin-top: 20px;
    margin-bottom: 50px;
}
.contenido-container {
    display: flex; 
    align-items: flex-start; 
    margin: 20px 0; 
}

.img-sobreNosotros {
    width: 500px; 
    height: auto; 
    margin-right: 5px; 
    margin-bottom: 300px;
    margin-left: 50px;
}

.descripcion {
    max-width: 800px; 
}


