@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.TextoDestacado {
    font-family: 'Poppins', sans-serif; 
    text-align: center; 
    margin: 100px 0; 
}

.TextoDestacado h1 {
    font-size: 40px; 
    margin-bottom: 20px; 
    color: #4E342E;
}

.TextoDestacado p{
    font-size: 18px; 
    max-width: 800px; 
    margin: 0 auto; 
}
